<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table id="myTable" cellpadding="1" cellspacing="0" border="1" style="width:100%;max-width: 100%;margin-bottom: 20px ">
        <caption align="top" style="font-size: 26px">商品列表</caption>
        <thead>
        <tr>
            <th>编号</th>
            <th>商品</th>
            <th>价格</th>
            <th>库存</th>
            <th>销量</th>
            <th>管理</th>
        </tr>
        </thead>
        <tfoot align="right">

        </tfoot>
        <tbody>


        </tbody>
    </table>
</body>
</html>